.game-page {

}

.game-page__title {

}

.game-page__content {
    display: flex;
}

.game-page__left {
    width: 70%;
}

.game-page__right {
    width: 30%;
}

.secondary-text {

}

.game-page__buy-game {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
